.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.review {
    height: 25vh;
    width: 30vw;
    padding-left: 1vw;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 2px solid white;
}

.userIcon {
    display: flex;
    align-items: center;
}

.reviewContent {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.stars {
    display: flex;
    gap: 5px;
}

.comment {
    margin: 0;
}
