.mainContainer{
    height: 85vh;
    display: flex;

}

.ConteinerImgTit {
    display: flex;
    flex-direction: row; 
    width: 70vw;
    border: 2px solid red;
}

.logo{   
    margin-top: 5vh;
    margin-left: 5vh;
    width: 25vw;
    height: 30vh;   
    
}

.containerTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container2{
    align-self: baseline;
    width: 30vw;
    border: 2px solid green;

}





.btn{
    background-color: var(--oxford-blue);
    color: white;

}

.btn:hover{
    background-color: white;
    color: var(--oxford-blue);
    border-color: var(--oxford-blue);
}