.mainContainer{
    height: 75vh;
    display: flex;
    flex-direction: column;
}

.ConteinerImgTit {
    display: flex;
    flex-direction: row;
    margin-bottom: 5vh;
}

.logo{   
    margin-top: 5vh;
    margin-left: 5vh;
    width: 25vw;
    height: 30vh;   
    
}

.containerTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container2{
align-self: baseline;
width: 100%;
}





.btn{
    background-color: var(--oxford-blue);
    color: white;

}

.btn:hover{
    background-color: white;
    color: var(--oxford-blue);
    border-color: var(--oxford-blue);
}