.mainContainer{
    height: 65vh;
    display: flex;    
    color: #ececec;
}

.logo {
    object-fit: cover;
    width: 20vw;
}

.noImgConteiner {
    display: flex;
    flex-direction: column;
}

.containerTitle {
    width: 60vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.containerTitle h1 {
    font-weight: bold;
}

.containerTitle p {
    width: 80%;
    text-align: center;
}

.listButtonConteiner{
    display: flex;
    height: 25vh;
}

.list {
    height: 25vh;
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}

.list li {
    text-align: center;
}

.conteinerButton{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    height: 10vh;
    width: 17.5vw;
    border: none;
    border-radius: 75px;
    font-size: 1.5rem;
    font-weight: bold;
    transition: 0.3s;
}

.button:hover {
    transition: 0.3s;
    transform: scale(1.2);
}