.mainContainer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    width: 25vw;
    height: 65vh;
    background: #325f92;
    margin-top: 15vh;
    box-shadow: 4px 10px 10px rgba(0, 0, 0, .8);
}

.allFilters {
    height: 100%;
    width: 100%;
}

.divInput{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 14vh;
}

.input{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16vw;
    height: 7vh;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding-left: 2vw;
    border: none;
}

.button2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vw;
    height: 7vh;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    color: #0F0F0F;
}

.selectSpecial {
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 12vh;
    color: #ececec;
}

.pSpecial {
    margin-left: 2vw;
    margin-bottom: 1vh;
    font-size: 1.4rem;
}

.select {
    border-radius: 3px;
    height: 5vh;
    width: 18vw;
    margin-left: 3.5vw;
    border-radius: 25px;
    background-color: #ececec;
    border: none;
    padding-left: 2vw;
}

.filterContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 12vh;
    color: #ececec;
}

.emptyFilters {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16vh;

}
.button {
    background-color: #ececec;
    width: 15vw;
    height: 6vh;
    border: none;
    font-weight: bold;
}



.cardsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5rem;
    margin-bottom: 5rem;
    flex-wrap: wrap;
    gap: 1em;
    border: 1px;
    background-color: aqua;
}





.orderContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: aqua; */
}


