.mainContainer {
  height: 60vh;
  width: 70vw;
  border-radius: 85px;
  background-color: rgba(35, 35, 35, 0.95);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.firstRow {
  display: flex;
  flex-direction: row;
}

.dniNum {
  border: 2px solid red;
  height: 25vh;
  width: 30vw;
}

.dirLinkdn {
  border: 2px solid green;
  height: 25vh;
  width: 30vw;
}

.imgNac {
  border: 2px solid yellow;
  height: 25vh;
  display: flex;
}

.dropzone {
  border: 2px solid red;
  height: 10vw;
  width: 10vw;
}

.button {
  border: 2px solid green;
  height: 7.5vh;
  width: 100%;
}