.containerFirst {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerBienvenida {
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: #ececec;
    font-size: 4rem;
    font-weight: bold;
}

.parrafo {
    color: #ececec;
}

.containerLogoFirst {
    height: 100%;
    width: 35%;
}

.imageFirst {
    object-fit: cover;
    height: 100%;
}



.containerSecond {
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerLogoSecond {
    height: 100%;
    width: 35%;
}

.imageSecond {
    object-fit: cover;
    height: 100%;
}

.containerText {
    height: 100%;
    width: 65%;
    color: #ececec;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titleSecond {
    font-size: 2.5rem;
}

.misionVision {
    font-weight: bold;
    font-size: 2.5rem;
    margin: 0;
    position: relative;
    display: inline-block;
}

.misionVision::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.3rem;
    bottom:0;
    left: 0;
    background-color: rgb(209, 209, 209);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.6s ease-out;
}

.misionVision:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}


.containerThird {
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.containerTextThird {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ececec;
}

.titleThird {
    font-size: 2rem;
    font-weight: bold;
}

.parrafo2 {
    padding-bottom: 1rem;
}

.containerLogoThird {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageThird {
    height: 60vh;
    width: 60vh;
}

.containerFourth {
    height: 85vh;
    display: flex;
    flex-direction: column;
    color: #ececec;
}

.imageFour {
    object-fit: cover;
    height: 50vh;

}

.titleFourth {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.span1 {
    text-align: center;  
    font-weight: bold;
    margin-bottom: 2.5vh;
}

.span2 {
    text-align: center;  
}