.mainContainer{
    height: 12.5vh;
    width: 100vw;
    display: flex;
    color: #ececec;
    background-color: #25476e;
    box-shadow: -4px -4px 50px black;
    z-index: 2;
}

.list {
    width: 33.33vw;
    height: 12.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    list-style: none;
}

.list li {
    width: 20vw;
    text-align:left;
    font-size: 0.7rem;
}


.nombreEmpresa {
    height: 12.5vh;
    width: 33.33vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


.comentarios{
    height: 12.5vh;
    width: 33.33vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.comentariosActive {
    height: 85vh;
    width: 35vw;
    position: fixed;
    top: 15vh;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #25476e;
    overflow: scroll;
}

.commentButton {
    height: 6vh;
    width: 12.5vw;
    border: none;
    border-radius: 75px;
    font-weight: bold;
    font-size: 1.1rem;
    transition: 0.3s;
}

.commentButton:hover {
    transition: 0.3s;
    transform: translateY(-10px);
}

.commentButtonActive {
    height: 6vh;
}

.commentButtonActive:hover {
    transform: translateY(10px);
}

.puntajes {
    width: 30vw;
    height: 70vh;
    background-color: #25476e;
}