.mainContainer{
    height: 20vh;
    width: 100vw;
    display: flex;
    color: #ececec;
    background-color: #25476e;
    box-shadow: -4px -4px 50px black;
    z-index: 2;
}

.list {
    width: 33.33vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    list-style: none;
}

.list li {
    width: 20vw;
    text-align:left
}


.nombreEmpresa {
    height: 20vh;
    width: 33.33vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


.comentarios{
    width: 33.33vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comentariosActive {
    width: 33.33vw;
    margin-top: 7vh;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: #25476e;
}

.commentButton {
    height: 6vh;
    width: 12.5vw;
    border: none;
    border-radius: 75px;
    font-weight: bold;
    font-size: 1.1rem;
    transition: 0.3s;
}

.commentButton:hover {
    transition: 0.3s;
    transform: translateY(10px);
}

.commentButtonActive {
    height: 6vh;
}

.commentButtonActive:hover {
    transform: translateY(-10px);
}

.puntajes {
    height: 75vh;
    width: 33.33vw;
    background-color: #25476e;
}