.conteinerPrincipal {
    background-image: url("/public/images/fondoApplicant.jpg");
    background-position: center;
    background-size: cover;
}

.bg{
    background-color: rgba(0, 0, 0, 0.5);
}

.filterAndCardsContainer {
    width: 100vw;    
    height: 85vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    overflow: hidden;
}

.filters {
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardsDiv {
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100;
}
